
<a href="/gamers">
	Back
</a>
<h2>
	{{gamer.name}}
</h2>

<!-- <form action="/gamers/{{gamer.id}}?_method=PUT" method="post">
	<div >
		<label for="name">
			Name
		</label>
		<input type="text"  id="name" name='title' value="{{gamer.name}}" placeholder="Enter a gamer name" required>
	</div> -->
	<!-- <button type="submit">
		Edit
	</button> -->
<!-- </form>
<form action="/gamers?_method=DELETE" method="post">
	<div class="del" >
		<label for="name">
			Title
		</label>
		<input type="text"  id="name" name='name' value="{{gamer.name}}" placeholder="Enter a gamer name" required>
	</div>
<button type="submit">Delete</button>
</form> -->

<h3>Games {{gamer.name}} Plays:</h3>

	{{#each gamesData}}

	<form action="/gamers/{{gamer_id}}?_method=DELETE" method="post">
		<li>
			{{title}}<button value="{{row_id}}" name="id" type="submit">Remove</button>
		</li>
	</form>
	{{/each}}
<h3>
	Add a Game:
</h3>
<form action="/gamers/{{gamer.id}}" method="post">
	<select name='game_id'>
		{{#each games}}
	  <option  value={{id}}>{{title}}</option>
		{{/each}}
	</select>
	<button type="submit" name="button">Add Game</button>
</form>
